@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #121212;
  --background: #F5F5F5;
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
